body {
  text-align: center;
  font-size: 1em;
}

h1 {
  width: 50%;
  margin: 0 auto 0 auto;
  font-family: "Sacramento", sans-serif;
  padding: 15px;
  color: pink;
  line-height: 2;
  font-size: 3rem;
}
.zhu-mei{
  font-family: "ZCOOL KuaiLe", sans-serif;
    font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  color: pink;
  font-weight: normal;
}

h3 {
  color: pink;

}

p{
  color: pink;
  font-size: 1.5rem;
  width:60%;
  margin:0 auto 0 auto;
}
.a {
  color: #11999E;

}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.firstimg {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.secondimg {
  width: 25%;
  float: right;
}

.container {
  padding-top: 200px;

}


.top-cloud {
  width: 300px;
  position: absolute;
  top: 50px;
  right: 500px;
}

.my-hobby{
  color: #40514E;
  }

.bottom-cloud {
  width: 300px;
  position: absolute;
}

.bottom-container {
  margin-top: 100px;
  background-color: #66BFBF;
  padding: 50px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link {
  color: #11999E;
  margin: 20px;
}

.myname {
  color: #EAF6F6;
  margin: 40px auto 20px auto;
}

.contact-me {
  width: 20%;
  margin: 0 auto 0 auto;
  padding: 20px;
  line-height: 20px;
}

.last-sentence {
  margin-bottom: 40px;
}

.my-border{
  border-style: none;
  border-bottom-style: dotted;
  width: 3%;
  height: 1px;
  border-width: 5px;
  color: #EAF6F6;
  margin-top: 60px;
  margin-bottom: 40px;
}
